# Ex:1

Make a dictionary three major rivers and the                                      
country each river runs through. One Key-value pair might                                     
be 'nile':'egypt'.                                                                

Use a loop to print a sentence about each river, such as The Nile runs through Egypt.                               
Use a loop to print the name of each river included in the dictionary.                                        
Use a loop to print the name of each country included in the dictionary.                                       
                         
# OUTPUT :                                          
Nile runs through Egypt .                                                 
. River - Nile                                                         
. Location - Egypt                                                         
Amazon runs through South America                                                
. River - Amazon                                                    
. Location - South America

In [1]:
dictionary = {
    "Nile" : "Egypt",
    "Amazon" : "South America",
    "Niger" : "West Africa",
       }
for key,value in dictionary.items():
    
    print (f"{key}, runs through, {value}, ")
    
    print (f"River -, {key}, ")
    
    print (f"Location -, {value}, ")

Nile, runs through, Egypt,
River -, Nile,
Location -, Egypt,
Amazon, runs through, South America,
River -, Amazon,
Location -, South America,
Niger, runs through, West Africa,
River -, Niger,
Location -, West Africa,

# Ex : 2a

Use a dictionary to store information about a person you know.Store their "FIRST NAME", "LAST NAME", "AGE", and the "CITY" in    which they live. You should have keys such as "FIRST_NAME", "LAST_NAME", "AGE", and "CITY". Print each piece of information   stored in your dictionary.

In [2]:
bio = {
    "First_name" : "Ebad",
    "Last_name" : "Ali",
    "Age" : 16 ,
    "City" : "Karachi"
    }

for key,value in bio.items():
    
    print (f"{key}, :, {value}")

First_name, :, Ebad
Last_name, :, Ali
Age, :, 16
City, :, Karachi

# Ex : 2b

Start with the program you wrote for Exercise 2a.Make two new dictionaries representing different people, and store all three dictionaries in a list called people. Loop through your list of people. As you loop through the list, print everything you know about each person.

In [3]:
people = [{"First_name" : "Ebad",
           "Last_name" : "Ali",
           "Age" : 16,
           "City" : "Karachi"},
          {"First_name" : "Azeem",
           "Last_name" : "Naseer",
           "Age" : 26, "City" : "Karachi"},
          
          {"First_name" : "Abdullah",
           "Last_name" : "Khan",
           "Age" : 16, "City" : "Karachi"}]

for keys in people:
    print (f"{keys}")

{'First_name': 'Ebad', 'Last_name': 'Ali', 'Age': 16, 'City': 'Karachi'}
{'First_name': 'Azeem', 'Last_name': 'Naseer', 'Age': 26, 'City': 'Karachi'}
{'First_name': 'Abdullah', 'Last_name': 'Khan', 'Age': 16, 'City': 'Karachi'}

# Ex : 3


Make a dictionary called cities. Use the names of three cities as keys in your dictionary. Create a dictionary of information about each city and include the country that the city is in, its approximate population, and one fact about that city. The keys for each city’s dictionary should be something like country, population, and fact. Print the name of each city and all of the information you have stored about it.

In [4]:
cities = {"Karachi" : { "Country" : "Pakistan" ,
                       "Population" : 18.11 ,
                       "Fact" : "The City of light"},
                       "Islamabad" : { "Country" : " Pakistan",
                       "Population" : 6.76 ,
                       "Fact" : " The Capital of Pakistan."},
                       "Delhi" : { "Country" : "India",
                       "Population" : 18.6,
                       "Fact" : "The Capital of India."}}
for keys,values in cities.items():
    print(f"Name of the City is, {keys}, :, {values}")

Name of the City is, Karachi, :, {'Country': 'Pakistan', 'Population': 18.11, 'Fact': 'The City of light'}
Name of the City is, Islamabad, :, {'Country': ' Pakistan', 'Population': 6.76, 'Fact': ' The Capital of Pakistan.'}
Name of the City is, Delhi, :, {'Country': 'India', 'Population': 18.6, 'Fact': 'The Capital of India.'}

# Ex : 4

Write a Python script to concatenate following dictionaries to create a new one. Go to the editor                          

# OUTPUT

Sample Dictionary :                                
                        
dic1={1:10, 2:20}                                          
dic2={3:30, 4:40}                                 
dic3={5:50,6:60}                                         
Expected Result : {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

In [6]:
dict_1 = {
    1 : 10,
    2 : 20,
    }
dict_2 = {
    3 : 30,
    4 : 40,
    }
dict_3 = {
    5 : 50,
    6 : 60,
    }

print (f"Dictionary :")

print (f"dict_1 =  {dict_1}")

print (f"dict_2 =  {dict_2}")

print (f"dict_3 =  {dict_3}")

dict_1.update (dict_2)

dict_1.update (dict_3)

print(f"Result :  {dict_1}")

Dictionary :
dict_1 =  {1: 10, 2: 20}
dict_2 =  {3: 30, 4: 40}
dict_3 =  {5: 50, 6: 60}
Result :  {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

# Ex : 5

Write a Python program to create a dictionary from a string. Note: Track the count of the letters from the string.

# OUTPUT

#Sample string : " Dictionaries "

Expected output : { " D " : 1 , " i " : 3 , " c " : 1 , " t " : 1 , " o " : 1 , " n " : 1 , " a " : 1 , " r " : 1 , " e " : 1 , " s " : 1}

In [7]:
D = " Dictionaries "

print (f"Sample String : {D}")
     
dict = {} 

for V in D :
    dict [ V ] = dict.get ( V , 0 ) + 1
    
print (f"Expected Output : {dict} ")

Sample String :  Dictionaries
Expected Output : {' ': 2, 'D': 1, 'i': 3, 'c': 1, 't': 1, 'o': 1, 'n': 1, 'a': 1, 'r': 1, 'e': 1, 's': 1}

# Ex : 6

Write a Python program to create a dictionary of keys x, y, and z where each key has as value a list from 11-20, 21-30, and 31- 40 respectively. Access the fifth value of each key from the dictionary.                        

# OUTPUT :                                                           
{'x': [11, 12, 13, 14, 15, 16, 17, 18, 19],'y': [21, 22, 23, 24, 25, 26, 27, 28, 29],'z': [31, 32, 33, 34, 35, 36, 37, 38, 39]}

15                                                         
25                                       
35                                                        
x has value [11, 12, 13, 14, 15, 16, 17, 18, 19]                                
y has value [21, 22, 23, 24, 25, 26, 27, 28, 29]                             
z has value [31, 32, 33, 34, 35, 36, 37, 38, 39]

In [8]:
Value = {" X " :  [ 11 , 12 , 13 , 14 , 15 , 16 , 17 , 18 , 19 ] ,
         " Y " :  [ 21 , 22 , 23 , 24 , 25 , 26 , 27 , 28 , 29 ] ,
         " Z " :  [ 31 , 32 , 33 , 34 , 35 , 36 , 37 , 38 , 39 ] }

print (Value)

print ( Value [ " X " ][ 4 ])

print ( Value [ " Y " ][ 4 ])
 
print ( Value [ " Z " ][ 4 ])

for keys,values in Value.items():

    print(f"{keys}   has value   {values}")

{' X ': [11, 12, 13, 14, 15, 16, 17, 18, 19], ' Y ': [21, 22, 23, 24, 25, 26, 27, 28, 29], ' Z ': [31, 32, 33, 34, 35, 36, 37, 38, 39]}
15
25
35
 X    has value   [11, 12, 13, 14, 15, 16, 17, 18, 19]
 Y    has value   [21, 22, 23, 24, 25, 26, 27, 28, 29]
 Z    has value   [31, 32, 33, 34, 35, 36, 37, 38, 39]

# Ex : 7a
Create a new dictionary called prices              
                             
Put these values in your prices dictionary: "banana": 4, "apple": 2, "orange": 1.5, "pear": 3                                   
Loop through each key in prices. For each key, print out the key along with its price                                         
Check whether the topping is in the list . If yes , Recall the order else ask for another one .                                              
                          
# OUTPUT :                     
                         
# Banana                              
 
 price : 4      

# Apple                                
 
 price: 2

In [9]:
Prices = {
    " Banana " : 4 ,
    " Apple " : 2 ,
    " Orange " : 1.5 ,
    " pear " : 3 , 
    }
for keys,value in Prices.items():
    print(f"{keys} price  : {value}")

 Banana  price  : 4
 Apple  price  : 2
 Orange  price  : 1.5
 pear  price  : 3

# Ex : 7b

Let's determine how much money you would make if you sold all of your food.                                                 
                                                             
Create a variable called total and set it to zero.                                                                             
Loop through the prices dictionaries.For each key in prices, multiply the number in prices by the number in stock.             
Print that value into the console and then add it to total.                                                    
Finally, outside your loop, print total.

In [10]:
total = 0
price = {"banana": 4, "apple": 2, "orange": 1.5, "pear": 3}
stock = { "banana" : 16, "apple" : 4, "orange" : 48, "pear" : 45}

for v in price.keys():
    
    print (v)
    
    print ("Price:" , price[v])
    
    print ("In Stock:", stock[v])
    
    total = price[v]*stock[v] + total
    
print (f"Total  :  {total}")

banana
Price: 4
In Stock: 16
apple
Price: 2
In Stock: 4
orange
Price: 1.5
In Stock: 48
pear
Price: 3
In Stock: 45
Total  :  279.0

# Ex : 8 (OPTIONAL)

Try to solve this exercise by yourself first.Otherwise we'll solve this in the class                                                      

Count the number of occurrence of each letter in word "MISSISSIPPI". Store count of every letter with the letter in a             dictionary.

In [11]:
words = "MISSISSIPPI"

print(f"String  : {words}")

dictionary = { }

for W in words :
    
    dictionary [W] = dictionary.get(W , 0) + 1
    
print(f"Output  : {dictionary}")

String  : MISSISSIPPI
Output  : {'M': 1, 'I': 4, 'S': 4, 'P': 2}

# Ex : 9

Given a dictionary, the task is to filter all the negative values from given dictionary dict = {'a':1, 'b':-2, 'c':-3, 'd':7,
'e':0}

# OUTPUT :

resultant dictionary : {'a': 1, 'd': 7, 'e': 0}

In [12]:
dictionary  = {
    " a " : 1 ,
    " b " : -2 ,
    " c " : -3 ,
    " d " : 7 ,
    " e " : 0 ,
    }

del dictionary [" b "]

del dictionary [" c "]
print (f"Dictionary  : {dictionary}")

Dictionary  : {' a ': 1, ' d ': 7, ' e ': 0}

# EX : 10

Given a Dictionary. The task is to print the dictionary in the table format.

# Input:

{1: [“Samuel”, 21, ‘Data Structures’],2: [“Richie”, 20, ‘Machine Learning’],3: [“Lauren”, 21, ‘OOPS with java’],}

# Output:

In [14]:
dictionary = {
    1 : [" Samuel " , 21 , " Data Structures "],
    2 : [" Richie " , 20 , " Machine Learning "],
    3 : [" Lauren " , 21 , " OOPS with java "],
    }
print ("{:<10} {:<10} {:<10}".format('NAME', 'AGE', 'COURSE')) 

for keys , value in dictionary.items(): 
    name, age, course = value
    print ("{:<10} {:<10} {:<10}".format(name, age, course))

NAME       AGE        COURSE
 Samuel    21          Data Structures
 Richie    20          Machine Learning
 Lauren    21          OOPS with java